.search-main {
  width: 75%;
}
.form-control:focus {
  box-shadow: none !important;
}

#search_param {
  padding: 0.575rem 0.75rem !important;
}
.add-ht {
  height: 100vh;
}
.wheat {
  color: wheat !important;
}
.norecords {
  font-size: 40px;
  color: white;
  margin: auto;
}
.list-main {
  display: flex;
}

.list-main img {
  width: 100%;
}

a {
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}
.card {
  color: white;
  border: 1px solid white !important;
  background-color: transparent !important;
  cursor: pointer;
  padding-left: auto;
  padding-right: auto;
  min-height: 300px;
  margin-top: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: 0.25s box-shadow;
  transition: 0.25s box-shadow;
}
.card:focus,
.card:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.card-inverse .card-img-overlay {
  background-color: rgba(51, 51, 51, 0.85);
  border-color: rgba(51, 51, 51, 0.85);
}
.card-img-top {
  margin-top: 10px;
}
.card-block {
  text-align: left;
  padding: 5%;
}
.card-title {
  font-size: 1.2rem !important;
}
.col-xs-12 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.row {
  margin-left: auto;
  margin-right: auto;
}
.author {
  font-style: italic;
  font-weight: 600;
}

.card-img-top {
  margin-top: 0px !important;
}
.top-bar {
  width: 100%;
  display: flex;
  margin-left: 15px;
  margin-right: auto;
}
.card-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.list-card {
  padding: 9px !important;
}
@media (max-width: 575px) {
  .list-card {
    padding: 0px 10% !important;
  }
}
